<div class="wrapper">
    <div class="logo">
        <a href="http://aioneframework.com" target="_blank"><img src="http://aioneframework.com/assets/images/aione-framework-logo-small.png"></a>
    </div>
    <div id="aione_header_title" class="aione-border-top">
        <h4 class="aione-align-center red mt-8 font-weight-100">Resources</h4>
    </div>
    <nav id="aione_nav" class="aione-nav light vertical ph-5 slide-up">
        <div class="aione-nav-background"></div>
        <div class="field">
            <input class="aione-search-input" type="text" placeholder="Search">
        </div>
        <ul id="aione_menu" class="aione-menu aione-search-list">
            <li class="aione-nav-item"><a href="index.html"><span class="aione-search-item" data-hover="Getting Started">Search Engines</span></a></li>
            
        </ul>
    </nav>  
</div>
<div class="clear"></div>