<div class="wrapper">
    <div class="logo">
        <a href="https://aioneframework.com" target="_blank"><img src="https://aioneframework.com/assets/images/aione-framework-logo-small.png"></a>
    </div>
    <div id="aione_header_title" class="aione-border-top">
        <h4 class="aione-align-center red mt-8 font-weight-100">Resources</h4>
    </div>
    <nav id="aione_nav" class="aione-nav light vertical ph-5 slide-up">
        <div class="aione-nav-background"></div>
        <div class="field">
            <input class="aione-search-input" type="text" placeholder="Search">
        </div>
        <ul id="aione_menu" class="aione-menu aione-search-list">
            <li class="aione-nav-item"><a href="#search_engine"><span class="aione-search-item" data-hover="Search Engines">Search Engines</span></a></li>
            <li class="aione-nav-item"><a href="#wordpress_themes"><span class="aione-search-item" data-hover="Wordpress Themes">Wordpress Themes</span></a></li>
            <li class="aione-nav-item"><a href="#html_themes"><span class="aione-search-item" data-hover="HTML Themes">HTML Themes</span></a></li>
            <li class="aione-nav-item"><a href="#icon_fonts"><span class="aione-search-item" data-hover="Icon Fonts">Icon Fonts</span></a></li>
            <li class="aione-nav-item"><a href="#website_page_speed"><span class="aione-search-item" data-hover="Website Page Speed">Website Page Speed</span></a></li>
            <li class="aione-nav-item"><a href="#dns_service_providers"><span class="aione-search-item" data-hover="DNS service providers">DNS service providers</span></a></li>
            <li class="aione-nav-item"><a href="#dns_testing_tools"><span class="aione-search-item" data-hover="DNS testing tools">DNS testing tools</span></a></li>
            <li class="aione-nav-item"><a href="#online_image_editor"><span class="aione-search-item" data-hover="Online Image Editor">Online Image Editor</span></a></li>\
            <li class="aione-nav-item"><a href="#aione_cheat_sheet"><span class="aione-search-item" data-hover="Aione Cheat Sheet">Aione Cheat Sheet</span></a></li>
            <li class="aione-nav-item"><a href="#Sublime_shortcuts"><span class="aione-search-item" data-hover="Sublime Shortcuts">Sublime Shortcuts</span></a></li>
            <li class="aione-nav-item"><a href="#Text_editor"><span class="aione-search-item" data-hover="Text Editors">Text Editors</span></a></li>
            <li class="aione-nav-item"><a href="#CSS_framework"><span class="aione-search-item" data-hover="CSS Based Frameworks">CSS Based Frameworks</span></a></li>
            <li class="aione-nav-item"><a href="#Free_StockImages"><span class="aione-search-item" data-hover="Free Stock Images">Free Stock Images</span></a></li>
            <li class="aione-nav-item"><a href="#code_formatting"><span class="aione-search-item" data-hover="Code Formatting">Code Formatting</span></a></li>
            <li class="aione-nav-item"><a href="#font_tools"><span class="aione-search-item" data-hover="Font Tools">Font Tools</span></a></li>

        </ul>
    </nav>  
</div>
<div class="clear"></div>